
@{
    ViewBag.Title = "Galerija";
}



<h1>Galeija (?)</h1>
<hr />
<h2>&nbsp; Predstavljamo vam sajtove nase izrade ili u čijoj smo izradi učestvovali u prethodna dva meseca... ili tako nešto</h2>
<br />

<div class="l-image-display">
    <a class="l-image" target="_blank" href="/Home/RadoviUToku"><img src="~/Images/Galerija/CeDaBidne.Nekad.png" /></a>
    <a class="l-image" target="_blank" href="http://www.iBrowHanna.somee.com"><img src="~/Content/Images/Galerija/iBrowHanna.somee.com.png" /></a>
    <a class="l-image" target="_blank" href="http://www.montaznekuceivanjica.rs"><img src="~/Content/Images/Galerija/MontazneKuceIvanjica.rs.png" /></a>
    <a class="l-image" target="_blank" href="http://www.bal.somee.com"><img src="~/Content/Images/Galerija/bal.jpg" /></a>
    <a class="l-image" target="_blank" href="http://www.arabeska.somee.com"><img src="~/Content/Images/Galerija/arabeska.jpg" /></a>
</div>